.davinci-home {

	.block-title {
		font-family: $playfair;
		font-size: rem-calc(30);
	}

	// header block
	.header {
		padding: rem-calc(40) rem-calc(75)  rem-calc(45) rem-calc(100);

		display: flex;
		justify-content: space-between;

		.logo{
			max-width: rem-calc(65);
		}

		.contacts {
			display: flex;
			align-items: center;

			&-address {
				padding-right: rem-calc(55);
				border-right: 1px solid;
			}

			&-phone {
				padding-left: rem-calc(55);	

				a {
					color: inherit;
				}

				svg {
					transform: rotate(90deg);
				}
			}

			svg {
				margin-right: rem-calc(15);
			}
		}
	}

	// intro block
	.intro {
		display: flex;
		align-items: center;
		padding-left: rem-calc(100);

		.content-text {
			width: 60%;
			padding-right: rem-calc(135);

			.block-title {
				margin-bottom: rem-calc(50);
			}

			.sub-title {
				margin-bottom: rem-calc(75);
				font-family: $opensans;
				font-size: rem-calc(13);
				line-height: 2;
			}

			ol {
				list-style-type: decimal-leading-zero;
				padding-left: rem-calc(75);
			}

			li {
			 	margin-bottom: rem-calc(30);
			 	//font-family: $futura;
			 	font-size: rem-calc(18);
			 	font-weight: 100;
			 	padding-left: rem-calc(25);

			 	&:hover {
			 		cursor: pointer;
			 		font-weight: bold;
			 	}
			}
		}

		.content-img {
			padding-top: 3%;
			padding-bottom: 3%;
			width: 40%;
			position: relative;
		}

		.dark-bg {
			position: absolute;
			z-index: -1;
			background-color: #000;
			height: 100%;
			width: 94%;
			top: 0;
			right: 0;
		}
	}

	.scroll-down {
		margin-top: 15px;
		padding-left: rem-calc(100);
		margin-bottom: rem-calc(150);

		&:hover {
	 		cursor: pointer;
	 	}

	 	svg {
	 		margin-left: 12px;
	 		font-size: rem-calc(20);
	 	}
	}

	// abordari block
	.abordari {
		margin-right: rem-calc(100);
		background-color: #000;
		color: #fff;
		position: relative;

		.upper-part {
			padding-left: rem-calc(100);
			padding-right: rem-calc(100);
			display: flex;
			padding-bottom: rem-calc(50);

			.left-side {
				width: 50%;
				//padding-bottom: rem-calc(30);

				img{
					margin-top: rem-calc(-50);
					margin-bottom: rem-calc(130);
					width: 36rem;
					max-width: 85%;
				}
			}

			.right-side {
				width: 50%;
				position: relative;
				padding-left: rem-calc(100);
				
				img {
					width: calc(100% + 6.25rem);
					position: absolute;
					bottom: 0;
					left:  rem-calc(100);
					max-width: none;
				}
			}
			
		}

		.bottom-part {
			padding-left: rem-calc(100);
			padding-right: rem-calc(100);
			padding-top: rem-calc(60);
			padding-bottom: rem-calc(250);
			display: flex;
			align-items: flex-end;

			.left-side {
				ul {
					max-width: calc(100% - 6.25rem);
				}

			}

			ul {
				font-family: $opensans;
				font-size: rem-calc(14);
			}

			li {
				margin-bottom: rem-calc(40);
			}
		}	

		ul {
			list-style: none;

			li {
				position: relative;
				padding-left: rem-calc(20);

				&:before {
					position: absolute;
					content: ' ';
					width: rem-calc(20);
					height: 1px;
					border-top: 1px solid #fff;
					left: rem-calc(-20);
					top: 0.6em;
				}
			}
		}	
	}

	// map block
	.map {
		margin-bottom: rem-calc(80);
		padding-left: rem-calc(100);
		position: relative;

		#map {
      width: 70%;
      height: rem-calc(640);
      background-color: grey;
      margin-top: rem-calc(-80);
    }

    .description {
    	z-index: 99;
    	background-color: #fff;
    	position: absolute;
    	right: rem-calc(100);
    	top: rem-calc(150);
    	padding: rem-calc(60) rem-calc(70) rem-calc(40);
    	-webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
			box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);

			.block-title {
				display: flex;
			}
    }

    .map-ico {
    	margin-left: rem-calc(55);
    	position: relative;

    	.fa-map-marker-alt {
    		position: absolute;
    		top: -12px;
    		right: 8px;
    		font-size: 22px;
    	}
    }
	}

	.why-davinci {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-bottom: rem-calc(150);

		.content {
			z-index: 99;
    	background-color: #fff;
    	position: absolute;
    	left: rem-calc(70);
    	top: 50%;
    	transform: translateY(-50%);
    	padding: rem-calc(80) rem-calc(90);
    	-webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
			box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);

			.block-title {
				margin-bottom: rem-calc(60);
			}
		}

		ul {
			max-width: rem-calc(450);
			font-family: $opensans;
			font-size: rem-calc(14);
			list-style: none;
			
			li {
				margin-bottom: rem-calc(30);
				position: relative;
				padding-left: rem-calc(20);

				&:before {
					position: absolute;
					content: ' ';
					width: rem-calc(20);
					height: 1px;
					border-top: 1px solid;
					left: rem-calc(-20);
					top: 0.7em;

				}
			}
		}

		.image {
			max-width: 75%;
		}
	}

	// block beneficii
	.beneficii {
		
		&-header {
			height: rem-calc(400);
			background-size: cover;
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
		}

		.block-title {
			color: #fff;
			font-size: rem-calc(40) !important;
			text-align: center;
			
			position: absolute;
			width: 100%;
			top: rem-calc(120);
		}

		&-content {
			padding: 0 rem-calc(125);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
			margin-top: rem-calc(-140);
		}

		.box {
			background-color: #fff;
			text-align: center;
			//padding: 45px 40px 40px;
			font-family: $opensans;
			font-size: rem-calc(14);
			width: 30%;
			-webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
			box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.6);
			margin-bottom: rem-calc(55);
			position: relative;
			@include global-transition(transform);

			&:before{
			    content: "";
			    display: block;
			    padding-top: 60%;  /* ratio of 1:1*/
			}

			&:hover {
				transform: scale(0.97);
			}

			span {
				color: #999999;
			}

			img {
				max-width: rem-calc(60);
				display: block;
				margin: 0 auto;
				margin-bottom: rem-calc(25);
			}
		}

		.box-dark {
			background-color: #000;
			color: #fff;
		}

		.inner {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			transform: translateY(-25%);
		}

	}

	// block curiculum
	.curiculum {
		padding: 0 rem-calc(125);
		margin-top: rem-calc(80);
		margin-bottom: rem-calc(120);

		&-content {
			display: flex;
		}

		.block-title {
			margin-bottom: rem-calc(100);
			text-align: center;
		}

		.col1 {
			border-right: 1px solid;
			padding-right: rem-calc(100);
		}

		.col2 {
			padding-left: rem-calc(100);
		}
	}

	// block activitati
	.activitati {
		background-color: #1b1c1e;
		opacity: 0.9;
		color: #fff;
		padding: rem-calc(90) rem-calc(150) rem-calc(60);

		.block-title {
			text-align: center;
			margin-bottom: rem-calc(90);
		}

		&-content {
			display: flex;
			flex-wrap: wrap;
		}

		&-block {
			display: flex;
			width: 50%;
			padding-top: rem-calc(60);
			padding-bottom: rem-calc(60);
			position: relative;

			&:nth-child(odd) {
				border-right: 1px solid #3e3f40;
				padding-left: rem-calc(115);
			}

			&:nth-child(even) {
				padding-left: rem-calc(115);
			}

			img {
				max-width: rem-calc(50);
			}

			.img {
				margin-right: rem-calc(50);
			}

			h4 {
				font-family: $opensans;
				font-size: rem-calc(20);
				margin-bottom: rem-calc(30);
			}

			p {
				font-family: $opensans;
				font-size: rem-calc(14);
			}

			.border-line {
				position: absolute;
				width: 100%;
				height: 1px;
				border-top: 1px solid #3e3f40;
				bottom: 0;
				left: 0;
			}
		}
	}

	// footer block
	.footer {
		padding: rem-calc(100) rem-calc(150);
		background-color: #000;
		color: #fff;
		display: flex;
		

		.flex {
			display: flex;
			width: 50%;
			
		}

		.social-media {
			padding-right: rem-calc(80);
		}
		
		.call {
			padding-left: rem-calc(100);
		}

		.label {
			margin-right: 30px;
		}

		.info {
			margin-right: 30px;	
		}

		svg {
			margin-right: 10px;				
		}

		a{
			color: #fff;
		}

	}

	@media screen  and (max-width: 1024px) {
		
		.block-title {
			font-size: rem-calc(22);
		}

		.header {
			padding-left: rem-calc(50);
			padding-right: rem-calc(50);
		}

		.intro {
			padding-left: rem-calc(50);

			.content-text {
				padding-right: rem-calc(50);

				.sub-title {
					margin-bottom: rem-calc(30);
				}

				ol {
					padding-left: rem-calc(15);
				}

				li {
					padding-left: rem-calc(10);
					font-size: rem-calc(16);
				}
			}
		}

		.scroll-down {
			padding-left: rem-calc(50);
		}

		.abordari {
			margin-right: rem-calc(0);

			.upper-part {
				padding-left: rem-calc(50);
				padding-right: 0;

				.right-side {
					img {
						position: relative;
						left: auto;
						right: 0;
						top: rem-calc(50);
						width: 100%;
					}
				}
			}

			.bottom-part {
				padding-left: rem-calc(40);
				padding-right: rem-calc(40);
				padding-bottom: rem-calc(130);

				.left-side {
					ul {
						max-width: 95%;
					}
				}
			}
		}

		.map {
			padding-left: rem-calc(0);
			display: flex;
			flex-direction: column-reverse;

			.description {
				position: relative;
				top: 0;
				left: 0;
				right: auto;
				box-shadow: none;
				text-align: center;

				.block-title {
					justify-content: center;
				}				

				br:nth-child(even) {
					display: none;
				}

				.map-ico {
					margin-left: 25px;
				}
			}

			#map {
				width: 100%;
			}
		}

		.why-davinci {
			display: block;
			margin-bottom: 0;

			.block-title {
				text-align: center;
			}

			.content {
				box-shadow: none;
				position: relative;
				left: 0;
				top: 0;
				transform: none;
				padding: rem-calc(0) rem-calc(50)  rem-calc(50) rem-calc(60);

				ul {
					max-width: 95%;
				}
			}

			.image {
				display: none;
			}
		}

		.beneficii {

			&-content {
				padding: 0 rem-calc(50);
			}

			.box {

				&:before {
					padding-top: 160%;
				}

				@media only screen and (orientation: landscape) {
					&:before {
						padding-top: 80%;
					}
				}
				
				
			}
		}

		.curiculum {
			padding: 0 rem-calc(40);

			.col1 {
				padding-right: rem-calc(30);
			}

			.col2 {
				padding-left: rem-calc(30);
			}
		}

		.activitati {
			padding: 80px rem-calc(40);

			&-content {

			}

			&-block {
				&:nth-child(odd) {
					padding-left: 0;
					padding-right: 20px;
				}

				&:nth-child(even) {
					padding-left: 20px;
				}

				.img {
					margin-right: 20px;
				}
			}
		}

		.footer {
			padding: 40px rem-calc(40);

			.social-media{
				padding-right: rem-calc(20);
			}

			.call {
				padding-left: rem-calc(20);	
			}
		}
	}


	@media screen  and (max-width: 767px) {
		.header {
			padding-left: 20px;
			padding-right: 20px;
			aling-items: center;

			.contacts {
				flex-direction: column;
				aling-items: center;

				&-address {
					padding-right: 0;
					border-right: 0;
				}

				&-phone {
					width: 100%;
					text-align: right;

					a {
						color: inherit;
					}
				}
			}
		}

		.intro {
			flex-direction: column;
			padding-left: 0;
			margin-bottom: 80px;

			.content-text {
				width: 100%;
				padding-left: 30px;
				text-align: center;

				.block-title {
					margin-bottom: 20px;
				}

				.sub-title {
					font-size: 12px;
				}

				ol {
					padding-left: 30px;
				}

				li {
					text-align: ceter;
				}
			}

			.content-img {
				width: 100%;
			}
		}

		.scroll-down {
			display: none;
		}

		.abordari {
			.upper-part {
				display: block;
				padding-top: 50px;

				img {
					display: none;
				}

				.left-side {
					width: 100%;
					padding-right: 40px;
				}

				.block-title {
					text-align: center;
				}
			}

			.bottom-part {
				padding-top: 0;
				padding-bottom: 20px;
				flex-direction: column;
				padding-left: 20px;
				padding-right: 20px;

				.left-side {
					ul {
						width: 100%;
					}
				}
			}
		}

		.map {
			.description {
				padding: rem-calc(60) rem-calc(35) rem-calc(40);
			}

		}

		.why-davinci {
			.content {
				padding: 0 1.125rem 2.125rem 1.75rem
			}
		}

		.beneficii {

			&-content {
				padding: 0 rem-calc(20);
			}
			.box {
				width: 48%;
				margin-bottom: 15px;

				&:nth-child(odd) {
					margin-right: 4%;
				}

				&:before {
					padding-top: 150%;

					@media only screen and (orientation: landscape) {
						padding-top: 80%;						
					}
				}
			}
		}

		.curiculum {
			margin-bottom: 60px;

			.block-title {
				margin-bottom: 50px;
			}

			&-content {
				flex-direction: column;

				.col {
					flex-basis: auto;
				}

				.col1 {
					padding-right: 0;
					border-right: 0;
					padding-left: 0;
				}

				.col2 {
					padding-left: 0;
				}
			}
		}

		.activitati {
			padding-top: 50px;
			padding-left: 30px;
			padding-right: 30px;

			.block-title {
				margin-bottom: 20px;				
			}

			&-content {
				flex-direction: column;
			}

			&-block {
				width: 100%;
				border-bottom: 1px solid #3e3f40;	
				
				&:last-child {
					border-bottom: 0;
					padding-bottom: 0;
				}
				

				&:nth-child(odd) {
					padding-right: 0;
					border-right: 0;
				}

				&:nth-child(even) {
					padding-left: 0;
				}

				img {
					max-width: 30px;
				}

				.border-line {
					display: none;
				}
			}

			&-text {
				width: calc(100% - 80px);
				text-align: center;
			}
		}

		.footer {
			flex-direction: column;

			.social-media {
				width: 100%;
			}

			.call {
				width: 100%;
				padding-left: 0;
			}
		}
	}
}