@import "../../src/sass/underscores/galleries";
@function rem-calc($size) { $remSize: $size / 16; @return #{$remSize}rem; }

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

$playfair: 'Playfair Display', serif;
$opensans: 'Open Sans', sans-serif;
$futura: 'Futura PT';

$global-transition-speed: 0.5s;
// $global-easing: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$global-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);

@mixin global-transition($transitions...) {
  // $transitions: append($transitions comma);
  $s: $global-transition-speed;
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, $transition + " " + $s, comma)
  }
  transition: $unfoldedTransitions;
  transition-timing-function: $global-easing;
}

